/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1;
  background-color: black;
}

.container{
  margin: 0;
  padding: 0;
  background-color: black;
}

#head_wrap {
  width: 100%;
  height: 130px;
  margin: 0 auto;
  border-bottom: 5px solid #e0e0eb;
  padding: 10px;
  background: linear-gradient(#9494b8, white, #9494b8);
}

#header {
  margin: 0 auto;
  padding: 10px;
	padding-left: 30px;
  height: 80px;
  width: 1200px;
}

#logoImg {
  height: 120px;
  width: 150px;
	padding-left: 50px;
}

#form1 {
  float: right;
  padding-right: 50px;
  line-height: 100px;
}

#form1 input {
	width: 150px;
	height: 20px;
	padding: 10px;
	border-radius: 0.5em;
	box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

#form1 button {
	width: 150px;
	height: 30px;
	border-radius: 0.5em;
	box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

#form1 button:hover {
	background-color: blue;
	color: white;
}

#content {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

#form2 {
	float: right;
	margin-top: 20px;
	background-color: black;
}

#form2 input {
	width: 250px;
	height: 20px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

#form2 select {
	width: 272px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
}

#form2 button {
	width: 240px;
	padding: 10px;
	margin-left: 80px;
	border-radius: 0.5em;
}

#form2 button:hover {
	width: 240px;
	padding: 10px;
	margin-left: 80px;
	border-radius: 0.5em;
	color: gray;
	background-color: white;
}

#form2 td {
	padding-top: 10px;
}

#imageImg {
	width: 450px;
	height: 300px;
	float: left;
	margin-right: 40px;
	margin-left: 0px;
	margin-top: 75px;
}

#footer {
	width: 100%;
	height: 40px;
	padding: 10px;
	border-top: 3px solid #e0e0eb;
	background: black;
	clear: both;
}

#footer h2 {
	text-align: center;
	padding-top: 10px;
}
